.inFocus .topMenu {
	margin-top: -0.8em;
	margin-left: -1em;
}
.topMenu {
	display: inline-block;
}
.topMenu a {
	text-decoration: none;
	margin: 0 2px 0 2px;
	padding: 0 2px;
	border: 1px solid #FFF;
	color: #363636;
	font-size: 0.7em;
	font-weight: bold;
}

.topMenu a:hover {
	background: #e8eff7;
	border: 1px solid #aecff7;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

a kbd {
	float: right;
}
