div.section {
	padding: 0.5em;
	border-bottom: #f2f2f2 1px solid;
	position: relative;
}

div.sectionType, div.pageType, div.workflowSummary {
	font-size: 0.7em;
	float: right;
	margin-right: -1em;
	margin-top: -0em;
	margin-bottom: -1em;
	color:#00A;
	background-color: white;
	padding-right: 3px;
	padding-left: 3px;
}

.givenWhenThen {
	font-size: 0.3em;
	color: #808080;
	vertical-align: super;
}

div.pageType {
	margin-right: 0em;
}

.inFocus div.pageType {
	margin-top: -1.8em;
}

.inFocus div.sectionType, div.workflowSummary {
	margin-top: -1.3em;
}

.section, #pageTitleTd {
	background-repeat: repeat-y;
	background-position: 0 -40px;
}

div.inFocus {
	background-color: rgba(255, 238, 108, 0.04) !important;
}

div.inclusion {
	color: #191970;
}

div.deleted {
	display:none
}

div.editable {
	min-height: 1em;
	margin: 0;
	padding: 0 1em 5px;
}

div.showdeleted {
	display: block;
	background-color: #ffb2b2 !important;
}

div.folded, div.folded a {
	color: #8e8e8e;
}
div.folded * {
	display: none;
}
div.folded h1 *, div.folded h2 *, div.folded h3 *,
div.folded h4 *, div.folded h5 *, div.folded h6 * {
	display: inline;
}
div.folded h1, div.folded h2, div.folded h3,
div.folded h4, div.folded h5, div.folded h6 {
	display: inline;
	border-bottom: none;
}

div.folded h1 {}
div.folded h2 {margin-left: 2em;}
div.folded h3 {margin-left: 4em;}
div.folded h4 {margin-left: 6em;}
div.folded h5 {margin-left: 8em;}
div.folded h6 {margin-left: 10em;}

iframe.output {
	width: 100%;
	height: 200px;
}

a.running, a.failed, a.succeeded {
	padding-left: 3px;
	padding-right: 3px;
}
h1 a.running, h1 a.failed, h1 a.succeeded,
h2 a.running, h2 a.failed, h2 a.succeeded,
h3 a.running, h3 a.failed, h3 a.succeeded {
	border: solid 2px #990066;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	}
a.running {
	border-color: #666666;
	background-color: #cccccc;
}
a.failed {
	border-color: #990066;
	background-color: #ffcccc;
	}
a.succeeded {
	border-color: #339933;
	background-color: #ccffcc;
	}

.right {
	text-align: right;
}

a.jstree-clicked {
	color: white !important;
}

a.contentLink:not([state]) {
	color: #666;
}
a.contentLink[state] {
	color: #808080;
}
a.contentLink[state=succeeded] {
	color: black;
}
a.contentLink[state=changed] {
	color: #808080;
}
a.contentLink[state=created] {
	color: #aaaaaa;
}
a.contentLink[state=failed] {
	color: #C70B0B;
}

div.taskHistoryItem {
	font-size: small;
	border-bottom: 1px #CCC solid;
}

span.taskHistoryDate {
	font-weight: bold;
}
