<div id="pageTitle" class="editable" uuid="4a406ca2-51f0-420b-ad95-932c5809c1c6">
 <h1>Sections</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><p><b class="blue">As a</b> uSDLC administrator<br><b class="blue">I want</b> to maintain and translate section templates<br><b class="blue">so that</b> my uSDLC users can read built-in sections</p></div><div id="s4" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="Default" action="page" id="s4a0" class="usdlc">Default</a></h1></div>
<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
