<div id="pageTitle" class="editable" uuid="4a406ca2-51f0-420b-ad95-932c5809c1c6">
 <h1>Sections</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><p>
	<b class="blue">As a</b> uSDLC administrator<br>
	<b class="blue">I want</b> to maintain and translate section templates<br>
	<b class="blue">so that</b>&nbsp;my uSDLC users do not have to start with a blank slate</p>
</div>
<div id="s5" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	<span>Section templates</span></h2>
<p>
	When you create a new section, it is copied from one of the sections below.</p>
</div><div id="s6" class="editable section"><h2>
	<span>Tasklist</span></h2>
<table border="0" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<td valign="top">
				<div activate="activateTasklist" class="tasklist template">
					<ul>
						<li>
							fillmein</li>
					</ul>
				</div>
			</td>
			<td valign="top">
				<div id="taskDetail">
					<form name="Task Detail" onsubmit="usdlc.buildTaskDetail(this);return false">
						<p>
							<input checked="checked" name="Assign" type="checkbox" value="Assign">Assign<br>
							<input checked="checked" name="Priority" type="checkbox" value="Priority">Priority<br>
							<input checked="checked" name="Schedule" type="checkbox" value="Schedule">Schedule<br>
							<input checked="checked" name="Phase" type="checkbox" value="Phase">Phase<br>
							<input checked="checked" name="Tags" type="checkbox" value="Tags">Tags<br>
							<input checked="checked" name="Pages" type="checkbox" value="Pages">Pages<br>
							<input checked="checked" name="Notes" type="checkbox" value="Notes">Notes<br>
							<input checked="checked" name="History" type="checkbox" value="History">History</p>
						<p style="text-align: center; ">
							<input name="Details" type="submit" value="Details"></p>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div>
<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
