<div id="pageTitle" class="editable" uuid="4a406ca2-51f0-420b-ad95-932c5809c1c6">
 <h1>Sections</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><p>
	<b class="blue">As a</b> uSDLC administrator<br>
	<b class="blue">I want</b> to maintain and translate section templates<br>
	<b class="blue">so that</b>&nbsp;my uSDLC users do not have to start with a blank slate</p>
</div>
<div id="s5" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	<span>Section templates</span></h2>
<p>
	When you create a new section, it is copied from one of the sections below.</p>
</div><div id="s6" class="editable section"><h2>
	<span>Tasklist</span></h2>
<table border="0" cellpadding="11" cellspacing="11">
	<tbody>
		<tr>
			<td valign="top">
				<div activate="activateTasklist" class="tasklist template">
					<ul>
						<li>
							fillmein</li>
					</ul>
				</div>
				<hr>
				<div class="treeLeafCount">
					0</div>
				<span style="font-size:12px;"><input activate="completedCheckbox" type="checkbox"> Completed</span>
				<p>
					&nbsp;</p>
			</td>
			<td valign="top">
				<div class="taskDetail">
					<form name="Task Detail" onsubmit="usdlc.buildTaskDetail(this);return false" style="width:100%">
						<p>
							<input checked="checked" name="State" type="checkbox" value="State">State<br>
							<input checked="checked" name="Checklist" type="checkbox" value="Checklist">Checklist<br>
							<input checked="checked" name="Assign" type="checkbox" value="Assign">Assign<br>
							<input checked="checked" name="Priority" type="checkbox" value="Priority">Priority<br>
							<input checked="checked" name="Schedule" type="checkbox" value="Schedule">Schedule<br>
							<input checked="checked" name="Tags" type="checkbox" value="Tags">Tags<br>
							<input checked="checked" name="Pages" type="checkbox" value="Pages">Pages<br>
							<input checked="checked" name="Notes" type="checkbox" value="Notes">Notes<br>
							<input checked="checked" name="History" type="checkbox" value="History">History<br>
							<input checked="checked" name="makeDefault" type="checkbox" value="Make Default">Make Default</p>
						<p style="text-align: center; ">
							<input name="Details" type="submit" value="Details"></p>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
</div><div id="s8" class="editable section"><h2>
	<span>Workflow Filter</span></h2>
<form id="newWorkflowReport" onsubmit="javascript:return usdlc.newWorkflowReport('newWorkflowReport')">
	<table>
		<tbody>
			<tr>
				<td>
					Project:</td>
				<td>
					<input activate="loadUsdlcProjects" name="project" size="32" type="text"></td>
			</tr>
			<tr>
				<td>
					State:</td>
				<td>
					<input activate="taskAutocomplete" aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="ui-autocomplete-input" name="State" role="textbox" size="26" type="text" value="*"></td>
			</tr>
			<tr>
				<td>
					Assigned to:&nbsp;</td>
				<td>
					<input activate="loadTaskUsers" aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="ui-autocomplete-input" name="Users" role="textbox" size="46" type="text"></td>
			</tr>
			<tr>
				<td>
					Priority:</td>
				<td>
					<select activate="loadTaskPriority" class="taskPriority" name="Priority" size="1"><option value="*">All</option><option value="">Not Set</option><option value="1">Overdue</option><option value="2">Immediate</option><option value="3">Critical</option><option value="4">Urgent</option><option value="5">High</option><option value="6">Normal</option><option value="7">Moderate</option><option value="8">Low</option><option value="9">Base</option></select></td>
			</tr>
			<tr>
				<td>
					Tags:</td>
				<td>
					<input activate="taskAutocomplete" aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="ui-autocomplete-input" name="Tags" role="textbox" size="46" type="text" value="*"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: right; ">
					<em><span style="font-size:12px;">* for all, blank for empty</span></em> &nbsp; &nbsp; &nbsp;<input name="workflowReport" type="submit" value="Workflow Report"></td>
			</tr>
		</tbody>
	</table>
</form>
<p>
	&nbsp;</p>
</div><div id="s7" class="editable section deleted"><h2>
	<span>Workflow Detail</span></h2>
<form name="Task Detail" onsubmit="usdlc.buildTaskDetail(this);return false" style="width:100%">
	<p>
		<input checked="checked" name="Workflow" type="checkbox" value="Workflow">Workflow<br>
		<input checked="checked" name="State" type="checkbox" value="State">State<br>
		<input checked="checked" name="Assign" type="checkbox" value="Assign">Assign<br>
		<input checked="checked" name="Priority" type="checkbox" value="Priority">Priority<br>
		<input checked="checked" name="Schedule" type="checkbox" value="Schedule">Schedule<br>
		<input checked="checked" name="Tags" type="checkbox" value="Tags">Tags<br>
		<input checked="checked" name="Pages" type="checkbox" value="Pages">Pages<br>
		<input checked="checked" name="Notes" type="checkbox" value="Notes">Notes<br>
		<input checked="checked" name="History" type="checkbox" value="History">History</p>
	<p>
		<input name="Assign" type="submit" value="Assign"></p>
</form>
</div>
<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
