<div id="pageTitle" class="editable" uuid="cce6a370-b126-4664-a832-1be0698dec28"> 
 <h1>Menu</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section"><div><b class="blue">In order to</b> drive uSDLC easily<br><b class="blue">As a</b> user&nbsp;<b class="blue">I want</b> an administrator<br><b class="blue">to</b> be able to customise the menus</div></div><div id="s4" class="editable section synopsis"><div class="sectionType">
	Reference</div>
<h2>
	<a href="/usdlc/rt/top.menu" id="s4a7" class="usdlc sourceLink" action="runnable">Top Menu</a></h2>
</div> 
<div id="s2" class="editable section footer synopsis"> 
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a> 
 </div> 
</div>