<div id="pageTitle" class="editable" uuid="5fa49b3d-214b-42e6-90fd-587c26da7048"> 
 <h1>Workflow</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section"><div>
	Provide different views on workflows with filters.</div>
</div><div id="s4" class="editable section"><h1>
	<span>Workflow: Filter</span></h1>
<form id="newWorkflowFilterSection" onsubmit="javascript:return usdlc.newWorkflowFilterSection()">
	<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px; ">
		<tbody>
			<tr>
				<td style="text-align: right; ">
					<strong>Title:&nbsp;</strong></td>
				<td>
					<input name="title" size="32" type="text">&nbsp;<input name="newWorkflowFilter" type="submit" value="New Workflow Filter"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></td>
			</tr>
			<tr>
				<td style="text-align: right; ">
					<strong>Notes:&nbsp;</strong></td>
				<td>
					<textarea cols="61" name="notes" rows="4"></textarea></td>
			</tr>
		</tbody>
	</table>
</form>
<div class="centre600">
	Every section has a workflow task attachment. This form creates a new section with a filter that can be used to display a table of workflow items.</div>
<p>
	&nbsp;</p>
</div> 
<div id="s2" class="editable section footer synopsis"> 
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a> 
 </div> 
</div>