<div id="pageTitle" class="editable"><h1>
	Project Templates</h1>

	<h2>
		A point to start from</h2>
</div>

<div id="s1" class="editable section" contextmenu="section"></div>
<div id="s2" class="editable section synopsis" contextmenu="section"><p>
	<a class="usdlc" href="DefaultProjectTemplate/index.html" id="s2a0" action="page">Default Project</a></p>
	<ol>
		<li>
			Highlight this section
		</li>
		<li>
			Copy the template to the clipboard (^C)
		</li>
		<li>
			Click on the top right logo to open the cover page
		</li>
		<li>
			Select a location
		</li>
		<li>
			Paste the template in here
		</li>
		<li>
			Edit the title
		</li>
		<li>
			Customise the new project
		</li>
	</ol>

</div>



