<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>uSDLC</display-name>
	<description>
      Unifying the Software Development Life-cycle
      with Interactive Documentation and Domain Specific Languages
    </description>
    
<context-param>
      <param-name>webmaster</param-name>
      <param-value>paul@marrington.net</param-value>
    </context-param>
        
	<servlet>
		<servlet-name>UsdlcServlet</servlet-name>
		<servlet-class>usdlc.server.servletengine.UsdlcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsdlcServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
