<div id="pageTitle" class="editable" uuid="cee37119-459b-4725-8e72-a934ede3347a">
 <h1>New Section</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><div><b class="blue">As a</b> uSDLC Administrator<br><b class="blue">I want</b> to be able to change the new section forms<br><b class="blue">so that</b> a customised experience for my site</div></div><div id="s15" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	New Section</h2>
<p>
	When creating a new section it can be given an attribute that aids in design and processing.</p>
<p>
	<em>Project-Vision-Goal-Capability-Feature-Page</em> all create new pages that help structure the design process. A page created with a specific attribute will default to sections with the next attribute in the list.</p>
<p>
	<em>Scenarion-Instrument-Reference</em> will create sections that wrap instrumentation files that can be edited in-place or with an IDE.</p>
<p>
	<em>Guide</em> sections are used to build up the user guides. They allow team members to document in place and reference them in the guide to be published.</p>
<p>
	<em>General</em> sections are just that - unclassified sections. You can also press escape when the form is presented and edit the section manually.</p>
<p>
	All sections can be edited manually - either in WYSIWYG or HTML mode. You can even remove the section attribute this way.</p>
</div>
<div id="s20" class="editable section"><h1>
	New Section: Project</h1>
<form onsubmit="javascript:return usdlc.newPageSection('Project')" id="newProjectSection">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Project"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	In design by decomposition, a project (or sub-project if you like) can start anywhere in the parent project. It is autonomous - and most commonly new functionality being added to an existing project. Sections are vision statements.</div>
</div>
<div id="s18" class="editable section"><h1>
	New Section: Vision</h1>
<form onsubmit="javascript:return usdlc.newPageSection('Vision')" id="newVisionSection" method="post">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Vision"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	Every new project starts with a vision. It does not need to be detailed. A set of bullet points is often a good starting place. Depending on the detail of the vision, these points can be further vision pages or high level goals.
	<p>
		In design by decomposition, visions can occur at any level of the project. When adding new functionality the list of benefits constitutes a vision.</p>
</div>
</div>

<div id="s13" class="editable section"><h1>
	New Section: Goal</h1>
<form onsubmit="javascript:return usdlc.newPageSection('Goal')" id="newGoalSection" method="post" name="New Goal Section">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Goal"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	<p>
		Goals stem from the vision, but may extend past the vision to other stake-holders. Goals should:</p>
	<ul>
		<li>
			<cite>Cover long time spans relative to capabilities and objectives</cite></li>
		<li>
			<cite>Can be intangible or tangible</cite></li>
		<li>
			<cite>should be people oriented</cite></li>
		<li>
			<cite>should not predetermine the details of program activities</cite></li>
		<li>
			<cite>should be expressed as a desired outcome or condition to be achieved</cite></li>
	</ul>
	<p>
		Examples could be:</p>
	<ul>
		<li>
			<span style="font-style: italic; ">To make required data entry easy</span><span style="font-style: italic; ">.</span></li>
		<li>
			<span style="font-style: italic; ">To reduce customers w</span><span style="font-style: italic; ">ho abandon the ordering process.</span></li>
	</ul>
</div>
</div>
<div id="s12" class="editable section"><h1>
	New Section: Capability</h1>
<form onsubmit="javascript:return usdlc.newPageSection('Capability')" id="newCapabilitySection" method="post" name="New Capability Section">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Capability"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	Goals require capabilities or objectives to be met. For the goal '<cite>To make required data entry easy</cite>', one capability may be '<cite>Users might need the capability to copy existing records</cite>'.</div>
</div>

<div id="s6" class="editable section"><h1>
	New Section: Feature</h1>
<form onsubmit="javascript:return usdlc.newPageSection('Feature')" id="newFeatureSection" method="post" name="New Feature Section">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Feature"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	<p>
		To deliver capabilities, we design features.</p>
	<blockquote>
		<p>
			<cite>As a customer, I want to be able to copy an old order so that I can enter a new order more easily.</cite></p>
	</blockquote>
	<p>
		As always, just enter a title here. You will have an opportunity to flesh it out when you go to the resulting page.</p>
</div>
</div>

<div id="s11" class="editable section"><h1>
	New Section: Scenario</h1>
<form onsubmit="javascript:return usdlc.newScenarioSection()" id="newScenarioSection" method="post" name="New Scenario Section">
	<div class="centreForm">
		<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 600px; ">
			<tbody>
				<tr>
					<td style="text-align: right; ">
						<strong>Title:&nbsp;</strong></td>
					<td>
						<input name="title" size="32" type="text"> &nbsp; <select name="type" size="1"><option value="gwt">gwt</option></select>&nbsp; <input name="New Scenario" type="submit" value="New Scenario"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Given:&nbsp;</strong></td>
					<td>
						<input activate="loadScenario" name="Given" size="68" type="text"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>When:&nbsp;</strong></td>
					<td>
						<input activate="loadScenario" name="When" size="68" type="text"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Then:&nbsp;</strong></td>
					<td>
						<input activate="loadScenario" name="Then" size="68" type="text"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="61" name="notes" rows="4"></textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	To explore and flesh out a feature we provide as many examples as we can in the form of scenarios. These scenarios can be phrased in natural language, but are at the same time computer readable. Scenarios provide the feedback loop across the SDLC. A scenario exercises the production code as it becomes available and will tease out disconnects between vision and produciton. In traditional parlance a scenario can be an acceptance test, integration test or unit test.</div>
</div>
<div id="s7" class="editable section"><h1>
	New Section: Instrument</h1>
<form onsubmit="javascript:return usdlc.newInstrumentationSection()" id="newInstrumentationSection" method="post" name="New Instrumentation Section">
	<div class="centreForm">
		<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 600px; ">
			<tbody>
				<tr>
					<td style="text-align: right; ">
						<strong>Title:&nbsp;</strong></td>
					<td>
						<input name="title" size="40" type="text">&nbsp; <select activate="loadActorTypes" name="type" size="1"></select></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="61" name="notes" rows="4"></textarea></td>
				</tr><tr>
					<td colspan="2" align="right">
						<input name="New Instrumentation" type="submit" value="New Instrumentation"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Scenarios will need backing data and actions. A scenario that needs tabular of information may refer to a csv table instrumentation section.</div>
</div>
<div id="s22" class="editable section"><h1>
	New Section: Reference</h1>
<form onsubmit="javascript:return usdlc.newReferenceSection()" id="newReferenceSection" method="post">
	<div class="centreForm">
		<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 600px; ">
			<tbody>
				<tr>
					<td style="text-align: right; ">
						<strong>Title:&nbsp;</strong></td>
					<td>
						<input name="title" size="40" type="text">&nbsp; <select activate="loadActorTypes" name="type" size="1"></select></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="61" name="notes" rows="4"></textarea></td>
				</tr><tr>
					<td colspan="2" align="right">
						<input type="submit" value="New Reference"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Display reference files. These are often data files used by instrumentation or example code for the application. They are not executed during instrumentation.</div>
</div>
<div id="s8" class="editable section"><h1>
	New Section: Guide</h1>
<form onsubmit="javascript:return usdlc.newGeneralSection('Guide')" id="newGuideSection" method="post" name="New Page Section">
	<div class="centreForm">
		<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px; ">
			<tbody>
				<tr>
					<td style="text-align: right; ">
						<strong>Title:&nbsp;</strong></td>
					<td>
						<input name="title" size="32" type="text">&nbsp;<input name="newGuide" type="submit" value="New Guide"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="61" name="notes" rows="4"></textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	The best place to document the user perspective for a feature is within the feature design space. <em><strong>uSDLC</strong></em> provides tools to take these sections and create an interactive document in user guide structure from the pieces created within the design.</div>
</div>
<div id="s19" class="editable section"><h1>
	New Section: Page</h1>
<form onsubmit="javascript:return usdlc.newPageSection('General')" id="newGeneralSection" method="post">
	<div class="centreForm">
		<label>Title</label> <input name="title" size="32" type="text"> <input name="newProject" type="submit" value="New Page"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></div>
</form>
<div class="centre600">
	Use this for pages that do not fall into any of the above classifications.</div>
</div>
<div id="s14" class="editable section"><h1>
	New Section: General</h1>
<form onsubmit="javascript:return usdlc.newGeneralSection('')" id="newSection" method="post" name="New Page Section">
	<div class="centreForm">
		<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 500px; ">
			<tbody>
				<tr>
					<td style="text-align: right; ">
						<strong>Title:&nbsp;</strong></td>
					<td>
						<input name="title" size="32" type="text">&nbsp; <input name="newGuide" type="submit" value="New Section"><input name="KeepOpen" title="Keep form open" type="checkbox" value="KeepOpen"></td>
				</tr>
				<tr>
					<td style="text-align: right; ">
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="61" name="notes" rows="4"></textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Create a section for documentation artifacts or the like.</div>
</div>
<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
