<div id="pageTitle" class="editable" uuid="9ecdec49-a2bb-40d3-8266-205a3a9708ee">
 <h1>Forms</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><p>
	When you open a page for the first time <em><strong>uSDLC</strong></em> offers advice on filling it the synopsis that can be seen from the parent page.</p>
</div>
<div id="s10" class="editable section"><h1>
	Synopsis: General</h1>
<form action="javascript:usdlc.newSynopsis('General')" id="newGeneralSynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: right" valign="bottom">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Enter the synopsis for this general unclassified page. Accept the responsibility to put in more detail because this page type does not lie within the formal design by decomposition guidelines.</div>
</div>
<div id="s23" class="editable section"><h1>
	Synopsis: Project</h1>
<form action="javascript:usdlc.newSynopsis('Project')" id="newProjectSynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: right" valign="bottom">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Enter a complete but concise overview of the project. If you feel the need to elucidate, create a guide section below the synopsis. Sections on this page are usually vision points.</div>
</div>
<div id="s15" class="editable section"><h1>
	Synopsis: Vision</h1>
<form action="javascript:usdlc.newSynopsis('Vision')" id="newVisionSynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: right" valign="bottom">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
<div class="centre600">
	Vision clarification and recording is highly individual. &nbsp;One beneficial approach is decomposition. When describing a vision to others you will use a number of key and telling points. A vision page is for one of these points.</div>
</div>
<div id="s16" class="editable section"><h1>
	Synopsis: Goal</h1>
<form action="javascript:usdlc.newSynopsis('Goal')" id="newGoalSynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr><tr>
				<td colspan="2" valign="bottom" style="text-align: right">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
	<div class="centre600">
	All stakeholders will have goals. Most can be tied directly to the vision, but some (such as <em>the system must be secure</em>) are independently driven. Typically there will be a catch-all vision statement on a project page called "<em>Meet stakeholder independent requirements</em>".</div>
</div>
<div id="s17" class="editable section"><h1>Synopsis: Capability</h1>
<form action="javascript:usdlc.newSynopsis('Capability')" id="newCapabilitySynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr><tr>
				<td colspan="2" valign="bottom" style="text-align: right">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
	<div class="centre600">
		Capabilities are about what the software needs to do, while features
		are how it will do it.
	</div>
</div>
<div id="s9" class="editable section"><h1>
	Synopsis: Feature</h1>
<form action="javascript:usdlc.newSynopsis('Feature')" id="newFeatureSynopsis" method="post">
	<div class="centreForm">
		<table border="0" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<strong>Notes:&nbsp;</strong></td>
					<td>
						<textarea cols="45" name="notes" rows="4"></textarea></td>
				</tr><tr>
				<td colspan="2" valign="bottom" style="text-align: right">
						<input name="newGeneralSynopsis" type="submit" value="New Synopsis"></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
	<div class="centre600">
		Capabilities are about what the software needs to do, while features
		are how it will do it.
	</div>
</div>
<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
