<div id="pageTitle" class="editable" uuid="512ddaea-fd06-43bd-b6ec-10f573ca4932"> 
 <h1>Users</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section"><div><b class="blue">As a</b> As a uSDLC Administrator<br><b class="blue">I want</b> to be able to modify the default pages for new users<br><b class="blue">so that</b> the users can start with domain specific specialisations</div></div><div id="s4" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="Default" action="page" id="s4a0" class="usdlc">Default</a></h1></div> 
<div id="s2" class="editable section footer synopsis">
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div> 
</div>