<div id="pageTitle" class="editable" uuid="9ecdec49-a2bb-40d3-8266-205a3a9708ee">
 <h1>Forms</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><p>
	<b class="blue">As a</b>&nbsp;uSDLC administrator<br>
	<b class="blue">I want</b>&nbsp;to be able to modify forms<br>
	<b class="blue">so that</b>&nbsp;so that I can optimise user experience in my environment</p>
</div><div id="s9" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	<span>Forms</span></h2>
<p>
	Forms for all ages reside here, broken into groups. A form is created as a section, but it is displayed in a modal dialog box when needed.</p>
<p>
	Most forms are populated by and trigger client side scripts. If an input element has a <em>activate</em> attribute, it points to a function in the usdlc namespace. For a text element, jqueryUI auto-complete is useful.</p>
</div><div id="s4" class="editable section synopsis"><div class="sectionType">
	General</div>
<h1>
	<a class="usdlc" href="NewSection" id="s4a0" action="page">New Section</a></h1>
</div><div id="s5" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="Synopsis" action="page" id="s5a0" class="usdlc">Synopsis</a></h1></div><div id="s8" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="Footer" action="page" id="s8a0" class="usdlc">Footer</a></h1></div><div id="s6" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="User" action="page" id="s6a0" class="usdlc">User</a></h1></div>

<div id="s20" class="editable section"><h1>
	New Project</h1>
<form onsubmit="javascript:return usdlc.newProject()" id="newProject" method="post">
	<div class="centreForm">
		<label>Title</label>
		<input name="title" size="32" type="text" activate="loadProjects" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
		<input name="newProject" type="submit" value="New Project">
	</div>
</form>
	<div class="centre600">
		Select from existing projects that do not have a uSDLC presence or
		type in a new name to create a new project with only a uSDLC component
		(to start with).
	</div>
</div>

<div id="s2" class="editable section footer synopsis">
 <div>
	 <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
		<a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
