<div id="pageTitle" class="editable" uuid="d9e6ff4d-1823-445d-9d0c-b9feb6a8ce77"> 
 <h1>Projects</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section"><div><b class="blue">As a</b> uSDLC Administrator<br><b class="blue">I want</b> to be able to modify the template for a new project<br><b class="blue">so that</b> it meets my operating requirements</div></div><div id="s5" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	<span>Project Template</span></h2>
<p>
	When you add <em><strong>uSDLC</strong></em> to an existing project or create a new one, the basic structure is taken from the default template here.</p>
<p>
	The <u><em>Guide</em></u> page has <em><u>By example</u></em>, <em><u>How-to</u></em> and <em><u>Reference</u></em> children. Most of the content is from references from guide sections in the Design document.</p>
<p>
	<em><u>Design</u></em> is a page of type <strong>Project</strong>. For most projects you fill it with vision points - one per section.</p>
<p>
	Every project needs an <em><u>Environment</u></em>. Pages deleted from the navigation tree are moved to Trash. All users for whom this project is home have pages here also.</p>
</div><div id="s4" class="editable section synopsis"><div class="sectionType">Project</div><h1><a href="Project_Default" action="page" id="s4a0" class="usdlc">Default</a></h1></div> 
<div id="s2" class="editable section footer synopsis">
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div> 
</div>