<div id="pageTitle" class="editable" uuid="d9e6ff4d-1823-445d-9d0c-b9feb6a8ce77"> 
 <h1>Projects</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section"><div><b class="blue">As a</b> uSDLC Administrator<br><b class="blue">I want</b> to be able to modify the template for a new project<br><b class="blue">so that</b> it meets my operating requirements</div></div><div id="s4" class="editable section synopsis"><div class="sectionType">Project</div><h1><a href="Project_Default" action="page" id="s4a0" class="usdlc">Default</a></h1></div> 
<div id="s2" class="editable section footer synopsis">
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div> 
</div>