<div id="pageTitle" class="editable" uuid="82b81b9c-3e7c-4985-84be-40552c951270">
 <h1> Templates</h1> 
 <h2> Changing the Look and Feel</h2> 
</div> 
<div id="s1" class="editable section" contextmenu="section">
 <p> uSDLC uses templates at many levels - for browser layout, new pages, new sections and text within sections. They are all maintained from the templates configuration page.</p> 
</div> 
<div id="s2" class="editable section" contextmenu="section">
 <h1> Project Templates</h1> 
 <p> The templates section includes one or more for creating new projects. It includes a basic outline for the project - including an Inbox and Home Page sections.</p> 
</div>