<div id="pageTitle" class="editable" uuid="121b5822-ed35-4ad9-8177-05864c8e67be">
 <h1>Footer</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><div><b class="blue">As a</b> uSDLC administrator<br><b class="blue">I want</b> to translate the footer forms<br><b class="blue">so that</b> my users can get maximum benefit</div></div><div id="s9" class="editable section"><div class="sectionType">
	Guide</div>
<h2>
	<span>Footer</span></h2>
<p>
	A standard page footer will have a link to the parent page and a <u><strong>more...</strong></u> command. The latter allows you to add <em><u>Setup</u></em>, <em><u>Cleanup</u></em>, <em><u>Instrument</u></em>, <em><u>Groups</u></em> or general <em><u>Script</u></em>.</p>
<p>
	If you add scenarios to a page, <u><em>Setup</em></u> and <em><u>Instrument</u></em> scripts are automatically created.</p>
<p>
	<em><u>Setup</u></em>,&nbsp;<em><u>Cleanup</u></em>,&nbsp;<em><u>Instrument</u></em>&nbsp;and&nbsp;<em><u>Script</u></em>&nbsp;entries can be in any supported script language although Coffeescript is used for&nbsp;<em><u>Setup</u></em>&nbsp;and&nbsp;<em><u>Instrument</u></em> on pages used for scenarios.</p>
<p>
	<u><em>Groups</em></u> is a csv file containing a list of groups that are allowed to access this and child pages.</p>
</div>

<div id="s4" class="editable section"><h1 class="sectionType">
	Footer: Setup</h1>
	<div class="centreForm">
<form id="footerSetup" onsubmit="javascript:return usdlc.saveFooter('Setup')">
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Setup">
</form></div></div>

<div id="s5" class="editable section"><h1 class="sectionType">
	Footer: Cleanup</h1>
	<div class="centreForm">
<form id="footerCleanup" onsubmit="javascript:return usdlc.saveFooter('Cleanup')">
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Cleanup">
</form></div></div>

<div id="s6" class="editable section"><h1 class="sectionType">
	Footer: Instrument</h1>
<div class="centreForm">
	<form onsubmit="javascript:return usdlc.saveFooter('Instrument')" id="footerInstrument">
		<select activate="loadActorTypes" name="type" size="1"></select> &nbsp;&nbsp; <input type="submit" value="Create Instrument">&nbsp;</form>
</div>
</div><div id="s8" class="editable section"><h1 class="sectionType">
	Footer: Groups</h1>
<div class="centreForm">
	<form onsubmit="javascript:return usdlc.saveFooter('Groups')" id="footerGroups">
		<select name="type" size="1"><option value="csv">csv</option></select> &nbsp;&nbsp; <input type="submit" value="Create Groups">&nbsp;</form>
</div>
</div>

<div id="s7" class="editable section"><h1 class="sectionType">
	Footer: Script</h1>
	<div class="centreForm">
<form id="footerScript" onsubmit="javascript:return usdlc.saveFooter('Script')">
	Name:&nbsp;<input type="text" size="24" name="name">
	&nbsp;&nbsp;
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Script">
</form></div></div>


<div id="s2" class="editable section footer synopsis">
 <div>
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
