<div id="pageTitle" class="editable" uuid="121b5822-ed35-4ad9-8177-05864c8e67be">
 <h1>Footer</h1>
 <h2></h2>
</div>
<div id="s1" class="editable section"><div><b class="blue">As a</b> uSDLC administrator<br><b class="blue">I want</b> to translate the footer forms<br><b class="blue">so that</b> my users can get maximum benefit</div></div>

<div id="s4" class="editable section"><h1 class="sectionType">
	Footer: Setup</h1>
	<div class="centreForm">
<form id="footerSetup" onsubmit="javascript:usdlc.saveFooter('Setup')">
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Setup">
</form></div></div>

<div id="s5" class="editable section"><h1 class="sectionType">
	Footer: Cleanup</h1>
	<div class="centreForm">
<form id="footerCleanup" onsubmit="javascript:usdlc.saveFooter('Cleanup')">
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Cleanup">
</form></div></div>

<div id="s6" class="editable section"><h1 class="sectionType">
	Footer: Instrument</h1>
<div class="centreForm">
	<form onsubmit="javascript:usdlc.saveFooter('Instrument')" id="footerInstrument">
		<select activate="loadActorTypes" name="type" size="1"></select> &nbsp;&nbsp; <input type="submit" value="Create Instrument">&nbsp;</form>
</div>
</div><div id="s8" class="editable section"><h1 class="sectionType">
	Footer: Groups</h1>
<div class="centreForm">
	<form onsubmit="javascript:usdlc.saveFooter('Groups')" id="footerGroups">
		<select name="type" size="1"><option value="csv">csv</option></select> &nbsp;&nbsp; <input type="submit" value="Create Groups">&nbsp;</form>
</div>
</div>

<div id="s7" class="editable section"><h1 class="sectionType">
	Footer: Script</h1>
	<div class="centreForm">
<form id="footerScript" onsubmit="javascript:usdlc.saveFooter('Script')">
	Name:&nbsp;<input type="text" size="24" name="name">
	&nbsp;&nbsp;
	<select activate="loadActorTypes" name="type" size="1"></select>
	&nbsp;&nbsp;
	<input type="submit" value="Create Script">
</form></div></div>


<div id="s2" class="editable section footer synopsis">
 <div>
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> -
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div>
</div>
