<div id="pageTitle" class="editable"><h1>
	Default Project</h1>

	<h2>
		Project Subtitle</h2>
</div>

<div id="s1" class="editable section" contextmenu="section"><p>
	Document the basic project vision here.</p>
</div>
<div id="s3" class="editable section synopsis" contextmenu="section"><p>
	<a href="HomePages/index.html" id="s3a0" class="usdlc" action="page">Home Pages</a></p>
</div>
<div id="s2" class="editable section synopsis" contextmenu="section"><h1>
	<a href="Inbox/index.html" id="s2a0" class="usdlc" action="page">Inbox</a></h1>
</div>




