<div id="pageTitle" class="editable" uuid="d4ce0d6b-8178-46f4-8eba-a4987b0b8bc8"> 
 <h1>Default</h1> 
 <h2></h2> 
</div> 
<div id="s1" class="editable section">
 <div class="pageType">
  Project
 </div> 
</div><div id="s4" class="editable section synopsis"><div class="sectionType">General</div><h1><a href="Environment" action="page" id="s4a0" class="usdlc">Environment</a></h1></div> 
<div id="s2" class="editable section footer synopsis">
 <div> 
  <a class="usdlc" href=".." id="s2a3" action="page"> Parent</a> - 
  <a href="javascript:usdlc.moreFooter()" id="s2a7">more...</a>
 </div> 
</div>