p {
	margin: 0 0 0.5em 0;
}

blockquote {
	font-style: italic;
}

h1, h2, h3, h4, h5 {
	text-align: left;
}

div.section h1 {
	font-size: 1.5em;
}

div.section h2 {
	font-size: 1.4em;
}

div.section h3 {
	font-size: 1.3em;
}

div.section h4 {
	font-size: 1.2em;
}

div.section h5 {
	font-size: 1.1em;
}

div.section h6 {
	font-size: 1.0em;
}

pre.prettyprint {
	overflow-x: scroll;
}

a.star {
	text-decoration: none;
	color: #0000cd;
}

a.star:hover {
	background-color: #daa520;
}

a.sourceLink, a.sourceLink:visited {
	color: #8b0000;
	font-style: oblique;
}

a.sourceLink:hover {
	color: #b22222;
}

.error {
	color: red;
}

.blue {
	color: #009;
}
