div.section {
	padding: 0.5em;
	border-bottom: #f2f2f2 1px solid;
	position: relative;
}

.section, #pageTitleTd {
	background-repeat: repeat-y;
	background-position: 0 -40px;
}

div.inFocus {
	background-color: rgba(255, 238, 108, 0.04)
}

div.inclusion {
	color: #191970;
}

div.hidden {
	display:none
}

div.editable {
	min-height: 1em;
	margin: 0;
	padding: 0 1em 5px;
}

iframe.output {
	width: 100%;
	height: 200px;
}

a.running, a.failed, a.succeeded {
	padding-left: 3px;
	padding-right: 3px;
}
h1 a.running, h1 a.failed, h1 a.succeeded,
h2 a.running, h2 a.failed, h2 a.succeeded,
h3 a.running, h3 a.failed, h3 a.succeeded {
	border: solid 2px #990066;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	}
a.running {
	border-color: #666666;
	background-color: #cccccc;
}
a.failed {
	border-color: #990066;
	background-color: #ffcccc;
	}
a.succeeded {
	border-color: #339933;
	background-color: #ccffcc;
	}
