table#pageTitleTable {
	width: 100%;
}

img#pageTitleImage {
	float: right;
	border: none;
	overflow: visible;
}

td#pageTitleTd {
	vertical-align: middle;
	width: 100%;
}

td#pageTitleTd h1, td#pageTitleTd h2, div.inclusion h1, div.inclusion h2 {
	text-align: center;
}

td#pageTitleTd h1 {
	font-size: 1.4em;
	margin: 0;
} 

td#pageTitleTd h2, div.inclusion h2 {
	margin: 0;
	font-size: 0.9em;
}
