<div id="pageTitle" class="editable" uuid="82b81b9c-3e7c-4985-84be-40552c951270">
 <h1> Templates</h1>
 <h2> Changing the Look and Feel</h2>
</div>
<div id="s1" class="editable section">
 <p> uSDLC uses templates at many levels - for browser layout, new pages, new sections and text within sections. They are all maintained from the templates configuration page.</p>
</div>
<div id="s2" class="editable section synopsis"><h3>
	<a class="usdlc" href="ProjectTemplates" id="s2a0" action="page">Project Templates</a></h3>
</div>
